{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}New Season{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="my-5">Create new Season</h1>

    {{ include('season/_form.html.twig') }}

    <a href="{{ path('season_index') }}">Back to list</a>
    </div> 
{% endblock %}
