{% extends 'layoutEmail.html.twig' %}

{% block body %}
<div class="container">
    <h1 class="text-center my-5">New serie {{ program.title }} released</h1>

    <p class ="text-center"></i>>Hello, the serie {{ program.title }} has been created on Wild Series</p>

    <p>Summary : {{program.summary }}
</div>
{% endblock %}

